@import 'login.css';
@import 'register.css';
@import 'babyNameFinder.css';
@import 'alphabet.css';
@import 'home.css';

body {
  background-image: url('../image/background-homepage.png');
  margin: 0;
  padding: 0;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

a{
  text-decoration: none;
}

.router-link-exact-active {
  font-weight: bold;
}