@import 'login.css';
@import 'register.css';

body {
  background-image: url('../image/background-homepage.png');
  margin: 0;
  padding: 0;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
